<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Teacher</title>
</head>
<body>
<h1>Register Teacher</h1>
<form th:action="@{/register-teacher}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div>
        <label>Username:</label>
        <input type="text" name="username" />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <label>Name:</label>
        <input type="text" name="name" />
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>
</body>
</html>
